In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('movie_bd_v5.csv')

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# предобработка колоноки 'profit' - прибыль фильма:
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [4]:
# в словарь вставляем номер вопроса и ваш ответ на него
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

In [5]:
data[data['budget'] == data['budget'].max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [6]:
answers['2'] = 'Gods and Generals'

In [7]:
data[data['runtime'] == data['runtime'].max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
answers['3'] = 'Winnie the Pooh'

In [9]:
data[data['runtime'] == data['runtime'].min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [10]:
answers['4'] = '110'

In [11]:
round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = '107'

In [13]:
round(data['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
answers['6'] = 'Avatar'

In [15]:
data[data['profit'] == data['profit'].max()]['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [16]:
answers['7'] = 'The Lone Ranger'

In [17]:
data[data['profit'] == data['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [18]:
answers['8'] = '1478'

In [19]:
data[data['revenue'] > data['budget']]['imdb_id'].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [20]:
answers['9'] = 'The Dark Knight'

In [21]:
new_df = data[data['release_year'] == 2008]
new_df[new_df['profit'] == new_df['profit'].max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [22]:
answers['10'] = 'The Lone Ranger'

In [23]:
new_df = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
new_df[new_df['profit'] == new_df['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [24]:
answers['11'] = 'Drama'

In [25]:
new_df = data.copy()
new_df['genres_explode'] = new_df['genres'].str.split("|")
new_df = new_df.explode('genres_explode').reset_index(drop=True)

new_df = new_df.groupby('genres_explode',as_index=False)['imdb_id'].count()
new_df.nlargest(1,'imdb_id')['genres_explode']

6    Drama
Name: genres_explode, dtype: object

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [26]:
answers['12'] = 'Drama'

In [27]:
new_df = data.copy()
new_df['genres_explode'] = new_df['genres'].str.split("|")
new_df = new_df.explode('genres_explode').reset_index(drop=True)

new_df = new_df[new_df['profit'] > 0]
new_df = new_df.groupby('genres_explode',as_index=False)['imdb_id'].count()
new_df.nlargest(1,'imdb_id')['genres_explode']

6    Drama
Name: genres_explode, dtype: object

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [28]:
answers['13'] = 'Peter Jackson'

In [29]:
new_df = data.copy()
new_df['director_explode'] = new_df['director'].str.split("|")
new_df = new_df.explode('director_explode').reset_index(drop=True)

new_df = new_df.groupby('director_explode',as_index=False)['revenue'].sum()
new_df.nlargest(1,'revenue')['director_explode']

727    Peter Jackson
Name: director_explode, dtype: object

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [30]:
answers['14'] = 'Robert Rodriguez'

In [31]:
new_df = data.copy()
for x in ['genres','director']:
    new_df[f'{x}_explode'] = new_df[x].str.split("|")
    new_df = new_df.explode(f'{x}_explode').reset_index(drop=True)
    
new_df = new_df[new_df['genres_explode'] == 'Action']
new_df = new_df.groupby('director_explode',as_index=False)['imdb_id'].count()
new_df.nlargest(1,'imdb_id')['director_explode']

296    Robert Rodriguez
Name: director_explode, dtype: object

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [32]:
answers['15'] = 'Chris Hemsworth'

In [33]:
new_df = data.copy()
new_df['cast_explode'] = new_df['cast'].str.split("|")
new_df = new_df.explode('cast_explode').reset_index(drop=True)

new_df = new_df[new_df['release_year'] == 2012]
new_df = new_df.groupby('cast_explode',as_index=False)['revenue'].sum()
new_df.nlargest(1,'revenue')['cast_explode']

77    Chris Hemsworth
Name: cast_explode, dtype: object

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [34]:
answers['16'] = 'Matt Damon'

In [35]:
new_df = data.copy()
new_df['cast_explode'] = new_df['cast'].str.split("|")
new_df = new_df.explode('cast_explode').reset_index(drop=True)

new_df = new_df[new_df['budget'] > new_df['budget'].mean()]
new_df = new_df.groupby('cast_explode',as_index=False)['imdb_id'].count()
new_df.nlargest(1,'imdb_id')['cast_explode']

965    Matt Damon
Name: cast_explode, dtype: object

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [36]:
answers['17'] = 'Action'

In [37]:
new_df = data.copy()
for x in ['genres','cast']:
    new_df[f'{x}_explode'] = new_df[x].str.split("|")
    new_df = new_df.explode(f'{x}_explode').reset_index(drop=True)

new_df = new_df[new_df['cast_explode'] == 'Nicolas Cage']
new_df = new_df.groupby('genres_explode',as_index=False)['imdb_id'].count()
new_df.nlargest(1,'imdb_id')['genres_explode']

0    Action
Name: genres_explode, dtype: object

# 18. Самый убыточный фильм от Paramount Pictures

In [38]:
answers['18'] = 'K-19: The Widowmaker'

In [39]:
new_df = data.copy()
new_df['prod_comp_explode'] = new_df['production_companies'].str.split("|")
new_df = new_df.explode('prod_comp_explode').reset_index(drop=True)

new_df = new_df[new_df['prod_comp_explode'] == 'Paramount Pictures']
new_df[new_df['profit'] == new_df['profit'].min()]['original_title']

2998    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [40]:
answers['19'] = '2015'

In [41]:
new_df = data.groupby('release_year',as_index=False)['revenue'].sum()
new_df.nlargest(1,'revenue')['release_year']

15    2015
Name: release_year, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [42]:
answers['20'] = '2014'

In [43]:
new_df = data.copy()
new_df['prod_comp_explode'] = new_df['production_companies'].str.split("|")
new_df = new_df.explode('prod_comp_explode').reset_index(drop=True)
new_df = new_df[new_df['prod_comp_explode'].str.contains('Warner Bros')]

new_df = new_df.groupby('release_year',as_index=False)['profit'].sum()
new_df.nlargest(1,'profit')['release_year']

14    2014
Name: release_year, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [44]:
answers['21'] = 'September'

In [45]:
new_df = data.copy()
new_df['month'] = pd.to_datetime(new_df['release_date']).dt.month_name()

new_df = new_df.groupby('month',as_index=False)['imdb_id'].count()
new_df.nlargest(1,'imdb_id')['month']

11    September
Name: month, dtype: object

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [46]:
answers['22'] = '450'

In [47]:
new_df = data.copy()
new_df['month'] = pd.to_datetime(new_df['release_date']).dt.month

new_df[new_df['month'].isin([6,7,8])]['imdb_id'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [48]:
answers['23'] = 'Peter Jackson'

In [49]:
new_df = data.copy()
new_df['month'] = pd.to_datetime(new_df['release_date']).dt.month
new_df['director_explode'] = new_df['director'].str.split("|")
new_df = new_df.explode('director_explode').reset_index(drop=True)

new_df = new_df[new_df['month'].isin([1,11,12])]
new_df = new_df.groupby('director_explode',as_index=False)['imdb_id'].count()
new_df.nlargest(1,'imdb_id')['director_explode']

263    Peter Jackson
Name: director_explode, dtype: object

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [50]:
answers['24'] = 'Four By Two Productions'

In [51]:
new_df = data.copy()
new_df['title_len'] = new_df['original_title'].str.len()
new_df['prod_comp_explode'] = new_df['production_companies'].str.split("|")
new_df = new_df.explode('prod_comp_explode').reset_index(drop=True)

new_df = new_df.groupby('prod_comp_explode',as_index=False)['title_len'].mean()
new_df.nlargest(1,'title_len')['prod_comp_explode']

583    Four By Two Productions
Name: prod_comp_explode, dtype: object

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [52]:
answers['25'] = 'Midnight Picture Show'

In [53]:
new_df = data.copy()
new_df['overview_len'] = new_df['overview'].str.split().str.len()
new_df['prod_comp_explode'] = new_df['production_companies'].str.split("|")
new_df = new_df.explode('prod_comp_explode').reset_index(drop=True)

new_df = new_df.groupby('prod_comp_explode',as_index=False)['overview_len'].mean()
new_df.nlargest(1,'overview_len')['prod_comp_explode']

1041    Midnight Picture Show
Name: prod_comp_explode, dtype: object

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [54]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [55]:
new_df = data.copy()

new_df.sort_values('vote_average',ascending=False).head(
    round(0.01*int(new_df['vote_average'].count())))['original_title']

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [56]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [57]:
new_df = data.copy()
new_df['cast_explode'] = new_df['cast'].str.split("|")
new_df = new_df.explode('cast_explode').reset_index(drop=True)


new_df = new_df.merge(new_df,on='imdb_id',how='inner')
new_df = new_df[new_df['cast_explode_x'] < new_df['cast_explode_y']]
new_df['cast_couple'] = new_df['cast_explode_x'] + " & " + new_df['cast_explode_y']

new_df = new_df.groupby('cast_couple',as_index=False)['imdb_id'].count()
new_df.nlargest(10,'imdb_id')

                              cast_couple  imdb_id
7007       Daniel Radcliffe & Emma Watson        8
7023      Daniel Radcliffe & Rupert Grint        8
9143           Emma Watson & Rupert Grint        8
3074            Ben Stiller & Owen Wilson        6
10754  Helena Bonham Carter & Johnny Depp        6
378            Adam Sandler & Kevin James        5
10912         Hugh Jackman & Ian McKellen        5
14732  Kristen Stewart & Robert Pattinson        5
14736    Kristen Stewart & Taylor Lautner        5
16904            Paul Walker & Vin Diesel        5

# Submission

In [58]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [59]:
# и убедиться что ни чего не пропустил)
len(answers)

27